---
const { title, createdDate, slug, link } = Astro.props;
const getRandomBox = (arr: Array<string>) => {
  if (arr.length === 0) return;
  const randomIndex = Math.floor(Math.random() * arr.length);
  return arr[randomIndex];
};
const boxes = [
  "src/images/borderBox1.webp",
  "src/images/borderBox2.webp",
  "src/images/borderBox3.webp",
  "src/images/borderBox4.webp",
];
---

<a href={link ? link : slug} class="no-underline" target={link ? "_blank" : "_self"}>
  <div
    class="mb-2 hover:bg-light-green"
    style={{
      border: ".7rem solid transparent",
      borderImage: `url(${getRandomBox(boxes)}) 20 fill`,
      WebkitBorderImage: `url(${getRandomBox(boxes)}) 20 fill`,
      OBorderImage: `url(${getRandomBox(boxes)}) 20 fill`,
      borderImageSlice: "90 fill",
    }}
  >
    <h3 class="mt-2 mb-2">{title}</h3>
    {createdDate && <small>{createdDate}</small>}
  </div>
</a>
